:host {
    display: block;
    min-height: 100%;
    background-color: #f7f7f7;
    position: relative;
    padding-bottom: 50px;
}
header, footer {
    color: #fff;
    background-color: #005c9e;
    font-family: 'sans-serif';
    padding: 25px 30px;
    text-align: center;
}
footer {
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}
h1 {
    font-size: 34px;
    margin: 0 auto;
    max-width: 65%;
    text-align: left;
}
.content {
    height: auto;
    /* min-height: calc(100% - 137px); */
    padding: 30px;
    text-align: center;
}
.logout-wrap {
    float: right;
}
.logout-wrap img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
