header, footer {
    color: #fff;
    background-color: #1976d2;
    font-family: 'sans-serif';
    padding: 30px;
    text-align: center;
}
h1 {
    margin: 0;
}
.content {
	background-color: #f7f7f7;
    height: calc(100% - 237px);
    padding: 30px;
    text-align: center;
}
